<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{id}} | imgsh</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <a href="/">< back</a>
    <div class="title">
        <h1>{{id}}</h1>
        <hr/>
        <img src="./static/storage/{{id}}" height="50%" width="20%">
        <hr/>
        <p>Posted at: {{time}}</p>
    </div>    
</body>
</html>