<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>imgsh</title>
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1 >imgsh</h1>
            <p>A basic image hosting script</p>
        </div>
        <h2>how to:</h2>
        <p>either use <a>this</a> bash script or use the upload page <a href="/uupload">here</a></p>
	<p>view all of the uploads <a href="/all">here</a></p>
        <hr/>
        <h2 class="title">recent</h2>
    </div>
    <div class="parent">
        {% for post in posts %}
        <div class="div{{loop.index}}">
            <a href="/{{post.decode()}}">
                <img src="./static/storage/{{post.decode()}}" width="100%">
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>
